## Assignment - 4

### Question - 1

In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [3]:
city = pd.read_html('assets/wikipedia_data.html')[1]
city.rename(columns={'Population (2016 est.)[8]':'Population',
                    'Metropolitan area':'Metro'},inplace=True)
city = city.iloc[0:-1,[0,3,5,6,7,8]]
city = city.replace(to_replace='\[.*?\]',value='',regex=True)
citynhl = city[['Metro','Population','NHL']]
citynhl.iloc[5,0],citynhl.iloc[0,0] = 'Washington','New York'
citynhl = citynhl.set_index(['Metro','Population'])
citynhl = citynhl.apply(lambda x: x.str.split(' ').explode())
citynhl = citynhl.reset_index()
citynhl['NHL'] = citynhl['NHL'].replace('—',np.nan).replace('',np.nan)
citynhl.dropna(inplace=True)
#print(citynhl.shape)
citynhl

(35, 3)

                     Metro Population         NHL
0                 New York   20153634     Rangers
1                 New York   20153634   Islanders
2                 New York   20153634      Devils
3              Los Angeles   13310447       Kings
4              Los Angeles   13310447       Ducks
5   San Francisco Bay Area    6657982      Sharks
6                  Chicago    9512999  Blackhawks
7        Dallas–Fort Worth    7233323       Stars
8               Washington    6131977    Capitals
9             Philadelphia    6070500      Flyers
10                  Boston    4794447      Bruins
11  Minneapolis–Saint Paul    3551036        Wild
12                  Denver    2853077   Avalanche
13   Miami–Fort Lauderdale    6066387    Panthers
14                 Phoenix    4661537     Coyotes
15                 Detroit    4297617         Red
16                 Detroit    4297617       Wings
17                 Toronto    5928040       Maple
18                 Toronto    5928040       Leafs
21          Tampa Bay Area    3032171   Lightning
22              Pittsburgh    2342299    Penguins
27               St. Louis    2807002       Blues
31               Nashville    1865298   Predators
34                 Buffalo    1132804      Sabres
35                Montreal    4098927   Canadiens
36               Vancouver    2463431     Canucks
39                Columbus    2041520        Blue
40                Columbus    2041520     Jackets
41                 Calgary    1392609      Flames
42                  Ottawa    1323783    Senators
43                Edmonton    1321426      Oilers
45                Winnipeg     778489        Jets
49               Las Vegas    2155664      Golden
50               Las Vegas    2155664     Knights
54                 Raleigh    1302946  Hurricanes

In [4]:
nhldf = pd.read_csv('assets/nhl.csv')
nhldf = nhldf[['team','W','L','year']]
nhldf = nhldf[nhldf['year']==2018]
nhldf = nhldf[nhldf['L'] != nhldf['W']]
nhldf['W'],nhldf["L"] = nhldf['W'].apply(int),nhldf["L"].apply(int)
nhldf['W/L'] = nhldf['W']/(nhldf['W']+nhldf['L'])
nhldf = nhldf[['team','W/L']]
nhldf.replace(to_replace='\*',value='',regex=True,inplace=True)
nhldf['NHL'] = nhldf['team'].str.split().str.get(-1)
nhldf

                     team       W/L         NHL
1     Tampa Bay Lightning  0.701299   Lightning
2           Boston Bruins  0.714286      Bruins
3     Toronto Maple Leafs  0.653333       Leafs
4        Florida Panthers  0.594595    Panthers
5       Detroit Red Wings  0.434783       Wings
6      Montreal Canadiens  0.420290   Canadiens
7         Ottawa Senators  0.394366    Senators
8          Buffalo Sabres  0.357143      Sabres
10    Washington Capitals  0.653333    Capitals
11    Pittsburgh Penguins  0.618421    Penguins
12    Philadelphia Flyers  0.617647      Flyers
13  Columbus Blue Jackets  0.600000     Jackets
14      New Jersey Devils  0.602740      Devils
15    Carolina Hurricanes  0.507042  Hurricanes
16     New York Islanders  0.486111   Islanders
17       New York Rangers  0.465753     Rangers
19    Nashville Predators  0.746479   Predators
20          Winnipeg Jets  0.722222        Jets
21         Minnesota Wild  0.633803        Wild
22     Colorado Avalanche  0.589041   Avalanche
23        St. Louis Blues  0.578947       Blues
24           Dallas Stars  0.567568       Stars
25     Chicago Blackhawks  0.458333  Blackhawks
27   Vegas Golden Knights  0.680000     Knights
28          Anaheim Ducks  0.637681       Ducks
29        San Jose Sharks  0.625000      Sharks
30      Los Angeles Kings  0.608108       Kings
31         Calgary Flames  0.513889      Flames
32        Edmonton Oilers  0.473684      Oilers
33      Vancouver Canucks  0.436620     Canucks
34        Arizona Coyotes  0.414286     Coyotes

In [5]:
df = pd.merge(nhldf,citynhl, how='inner')
df['Population'] = df['Population'].apply(int)
df = df.groupby('Metro').agg({'W/L': np.nanmean, 'Population': np.nanmean})
df.shape
df

                             W/L  Population
Metro
Boston                  0.714286   4794447.0
Buffalo                 0.357143   1132804.0
Calgary                 0.513889   1392609.0
Chicago                 0.458333   9512999.0
Columbus                0.600000   2041520.0
Dallas–Fort Worth       0.567568   7233323.0
Denver                  0.589041   2853077.0
Detroit                 0.434783   4297617.0
Edmonton                0.473684   1321426.0
Las Vegas               0.680000   2155664.0
Los Angeles             0.622895  13310447.0
Miami–Fort Lauderdale   0.594595   6066387.0
Minneapolis–Saint Paul  0.633803   3551036.0
Montreal                0.420290   4098927.0
Nashville               0.746479   1865298.0
New York                0.518201  20153634.0
Ottawa                  0.394366   1323783.0
Philadelphia            0.617647   6070500.0
Phoenix                 0.414286   4661537.0
Pittsburgh              0.618421   2342299.0
Raleigh                 0.507042   1302946.0
San Francisco Bay Area  0.625000   6657982.0
St. Louis               0.578947   2807002.0
Tampa Bay Area          0.701299   3032171.0
Toronto                 0.653333   5928040.0
Vancouver               0.436620   2463431.0
Washington              0.653333   6131977.0
Winnipeg                0.722222    778489.0

In [6]:
stats.pearsonr(df['Population'], df['W/L'])[0]

0.012486162921209923

### Question 2 Solve

In [7]:
import pandas as pd
import numpy as np
import scipy.stats as stats

#### Wikipedia Data

In [72]:
city = pd.read_html('assets/wikipedia_data.html')[1]
city.rename(columns={'Population (2016 est.)[8]':'Population',
                    'Metropolitan area':'Metro'},inplace=True)
city = city.iloc[0:-1,[0,3,5,6,7,8]]
city = city.replace(to_replace='\[.*?\]',value='',regex=True)
citynba = city[['Metro','Population','NBA']]
citynba = citynba.replace('',np.nan).replace('—',np.nan)
citynba.dropna(inplace=True)
citynba.set_index(['Metro','Population'],inplace=True)
citynba = citynba.apply(lambda x: x.str.split(' ').explode())
citynba.reset_index(inplace=True)
citynba['Population'] = citynba['Population'].apply(int)
citynba

                     Metro  Population           NBA
0            New York City    20153634        Knicks
1            New York City    20153634          Nets
2              Los Angeles    13310447        Lakers
3              Los Angeles    13310447      Clippers
4   San Francisco Bay Area     6657982      Warriors
5                  Chicago     9512999         Bulls
6        Dallas–Fort Worth     7233323     Mavericks
7         Washington, D.C.     6131977       Wizards
8             Philadelphia     6070500         76ers
9                   Boston     4794447       Celtics
10  Minneapolis–Saint Paul     3551036  Timberwolves
11                  Denver     2853077       Nuggets
12   Miami–Fort Lauderdale     6066387          Heat
13                 Phoenix     4661537          Suns
14                 Detroit     4297617       Pistons
15                 Toronto     5928040       Raptors
16                 Houston     6772470       Rockets
17                 Atlanta     5789700         Hawks
18               Cleveland     2055612     Cavaliers
19               Charlotte     2474314       Hornets
20            Indianapolis     2004230        Pacers
21               Milwaukee     1572482         Bucks
22             New Orleans     1268883      Pelicans
23                 Orlando     2441257         Magic
24                Portland     2424955         Trail
25                Portland     2424955       Blazers
26          Salt Lake City     1186187          Jazz
27             San Antonio     2429609         Spurs
28              Sacramento     2296418         Kings
29           Oklahoma City     1373211       Thunder
30                 Memphis     1342842     Grizzlies

####  NBA

In [52]:
nbadf = pd.read_csv('assets/nba.csv')[['team','W','L','year']]
nbadf = nbadf[nbadf['year']==2018]
nbadf = nbadf.replace(to_replace='\*.*',value='',regex=True)
nbadf = nbadf.replace(to_replace='\(.*',value='',regex=True)
nbadf = nbadf.drop(['year'],axis=1)
nbadf['NBA'] = nbadf['team'].apply(lambda x: x.split(' ')[-1])
nbadf = nbadf.astype({'W': int,'L': int})
nbadf['W/L'] = nbadf['W']/(nbadf['W']+nbadf['L'])
nbadf.drop(['W','L'],axis=1,inplace=True)
nbadf['NBA'] = nbadf['NBA'].str.strip()
nbadf

                      team           NBA       W/L
0          Toronto Raptors       Raptors  0.719512
1           Boston Celtics       Celtics  0.670732
2       Philadelphia 76ers         76ers  0.634146
3      Cleveland Cavaliers     Cavaliers  0.609756
4           Indiana Pacers        Pacers  0.585366
5               Miami Heat          Heat  0.536585
6          Milwaukee Bucks         Bucks  0.536585
7       Washington Wizards       Wizards  0.524390
8         Detroit Pistons        Pistons  0.475610
9       Charlotte Hornets        Hornets  0.439024
10        New York Knicks         Knicks  0.353659
11          Brooklyn Nets           Nets  0.341463
12          Chicago Bulls          Bulls  0.329268
13          Orlando Magic          Magic  0.304878
14          Atlanta Hawks          Hawks  0.292683
15         Houston Rockets       Rockets  0.792683
16   Golden State Warriors      Warriors  0.707317
17  Portland Trail Blazers       Blazers  0.597561
18   Oklahoma City Thunder       Thunder  0.585366
19               Utah Jazz          Jazz  0.585366
20    New Orleans Pelicans      Pelicans  0.585366
21       San Antonio Spurs         Spurs  0.573171
22  Minnesota Timberwolves  Timberwolves  0.573171
23         Denver Nuggets        Nuggets  0.560976
24   Los Angeles Clippers       Clippers  0.512195
25     Los Angeles Lakers         Lakers  0.426829
26       Sacramento Kings          Kings  0.329268
27       Dallas Mavericks      Mavericks  0.292683
28      Memphis Grizzlies      Grizzlies  0.268293
29           Phoenix Suns           Suns  0.256098

#### Merge

In [17]:
df = pd.merge(citynba,nbadf, how='inner')
df.dropna(inplace=True)
df = df.groupby('Metro').agg({'Population': np.nanmean,'W/L':np.nanmean})
df

                                Population       W/L
Metro
Atlanta                          5789700.0  0.292683
Boston                           4794447.0  0.670732
Charlotte                        2474314.0  0.439024
Chicago                          9512999.0  0.329268
Cleveland                        2055612.0  0.609756
Dallas–Fort Worth                7233323.0  0.292683
Denver                           2853077.0  0.560976
Detroit                          4297617.0  0.475610
Houston                          6772470.0  0.792683
Indianapolis                     2004230.0  0.585366
Los Angeles              665522356655223.5  0.469512
Memphis                          1342842.0  0.268293
Miami–Fort Lauderdale            6066387.0  0.536585
Milwaukee                        1572482.0  0.536585
Minneapolis–Saint Paul           3551036.0  0.573171
New Orleans                      1268883.0  0.585366
New York City           1007681710076817.0  0.347561
Oklahoma City                    1373211.0  0.585366
Orlando                          2441257.0  0.304878
Philadelphia                     6070500.0  0.634146
Phoenix                          4661537.0  0.256098
Portland                         2424955.0  0.597561
Sacramento                       2296418.0  0.329268
Salt Lake City                   1186187.0  0.585366
San Antonio                      2429609.0  0.573171
San Francisco Bay Area           6657982.0  0.707317
Toronto                          5928040.0  0.719512
Washington, D.C.                 6131977.0  0.524390

In [74]:
stats.pearsonr(df['Population'], df['W/L'])[0]

-0.17657160252844623

### Question - 3 solve

In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stat

#### Wikipedia Data

In [109]:
city = pd.read_html('assets/wikipedia_data.html')[1]
city = city.iloc[:-1]
city.rename({'Population (2016 est.)[8]':'Population','Metropolitan area': 'Metro'},axis=1,inplace=True)
citymlb = city[['Metro','Population','MLB']]
citymlb = citymlb.replace('\[.*',value='', regex=True).replace('—',np.nan).replace('',np.nan)
citymlb.dropna(inplace=True)
citymlb = citymlb.set_index(['Metro','Population'])
citymlb = citymlb.apply(lambda x: x.str.split(' ').explode())
citymlb.loc['Boston'] = 'Red-Sox'
citymlb = citymlb.reset_index().drop_duplicates()
citymlb['Population'] = citymlb['Population'].apply(int)
citymlb

                     Metro  Population           MLB
0            New York City    20153634       Yankees
1            New York City    20153634          Mets
2              Los Angeles    13310447       Dodgers
3              Los Angeles    13310447        Angels
4   San Francisco Bay Area     6657982        Giants
5   San Francisco Bay Area     6657982     Athletics
6                  Chicago     9512999          Cubs
7                  Chicago     9512999         White
8                  Chicago     9512999           Sox
9        Dallas–Fort Worth     7233323       Rangers
10        Washington, D.C.     6131977     Nationals
11            Philadelphia     6070500      Phillies
12                  Boston     4794447       Red-Sox
14  Minneapolis–Saint Paul     3551036         Twins
15                  Denver     2853077       Rockies
16   Miami–Fort Lauderdale     6066387       Marlins
17                 Phoenix     4661537  Diamondbacks
18                 Detroit     4297617        Tigers
19                 Toronto     5928040          Blue
20                 Toronto     5928040          Jays
21                 Houston     6772470        Astros
22                 Atlanta     5789700        Braves
23          Tampa Bay Area     3032171          Rays
24              Pittsburgh     2342299       Pirates
25               Cleveland     2055612       Indians
26                 Seattle     3798902      Mariners
27              Cincinnati     2165139          Reds
28             Kansas City     2104509        Royals
29               St. Louis     2807002     Cardinals
30               Baltimore     2798886       Orioles
31               Milwaukee     1572482       Brewers
32               San Diego     3317749        Padres

#### MLB Data

In [100]:
mlbdf = pd.read_csv('assets/mlb.csv')
mlbdf = mlbdf[mlbdf['year']==2018]
mlbdf = mlbdf[['team','W-L%']]
mlbdf.rename({'W-L%':'WL'},axis=1,inplace=True)
mlbdf.iloc[0,0] = 'Boston Red-Sox'
mlbdf['MLB'] = mlbdf['team'].apply(lambda x: x.split(' ')[-1])
mlbdf

                     team     WL           MLB
0          Boston Red-Sox  0.667       Red-Sox
1        New York Yankees  0.617       Yankees
2          Tampa Bay Rays  0.556          Rays
3       Toronto Blue Jays  0.451          Jays
4       Baltimore Orioles  0.290       Orioles
5       Cleveland Indians  0.562       Indians
6         Minnesota Twins  0.481         Twins
7          Detroit Tigers  0.395        Tigers
8       Chicago White Sox  0.383           Sox
9      Kansas City Royals  0.358        Royals
10         Houston Astros  0.636        Astros
11      Oakland Athletics  0.599     Athletics
12       Seattle Mariners  0.549      Mariners
13     Los Angeles Angels  0.494        Angels
14          Texas Rangers  0.414       Rangers
15         Atlanta Braves  0.556        Braves
16   Washington Nationals  0.506     Nationals
17  Philadelphia Phillies  0.494      Phillies
18          New York Mets  0.475          Mets
19          Miami Marlins  0.391       Marlins
20      Milwaukee Brewers  0.589       Brewers
21           Chicago Cubs  0.583          Cubs
22    St. Louis Cardinals  0.543     Cardinals
23     Pittsburgh Pirates  0.509       Pirates
24        Cincinnati Reds  0.414          Reds
25    Los Angeles Dodgers  0.564       Dodgers
26       Colorado Rockies  0.558       Rockies
27   Arizona Diamondbacks  0.506  Diamondbacks
28   San Francisco Giants  0.451        Giants
29       San Diego Padres  0.407        Padres

#### Merge

In [110]:
df = pd.merge(citymlb,mlbdf,how='inner')
df = df.groupby('Metro').agg({'Population': np.nanmean,'WL': np.nanmean})
print(df.shape)
df

(26, 2)

                        Population     WL
Metro
Atlanta                  5789700.0  0.556
Baltimore                2798886.0  0.290
Boston                   4794447.0  0.667
Chicago                  9512999.0  0.483
Cincinnati               2165139.0  0.414
Cleveland                2055612.0  0.562
Dallas–Fort Worth        7233323.0  0.414
Denver                   2853077.0  0.558
Detroit                  4297617.0  0.395
Houston                  6772470.0  0.636
Kansas City              2104509.0  0.358
Los Angeles             13310447.0  0.529
Miami–Fort Lauderdale    6066387.0  0.391
Milwaukee                1572482.0  0.589
Minneapolis–Saint Paul   3551036.0  0.481
New York City           20153634.0  0.546
Philadelphia             6070500.0  0.494
Phoenix                  4661537.0  0.506
Pittsburgh               2342299.0  0.509
San Diego                3317749.0  0.407
San Francisco Bay Area   6657982.0  0.525
Seattle                  3798902.0  0.549
St. Louis                2807002.0  0.543
Tampa Bay Area           3032171.0  0.556
Toronto                  5928040.0  0.451
Washington, D.C.         6131977.0  0.506

In [112]:
stat.pearsonr(df['Population'],df['WL'])[0]

0.15003737475409498

### Question 4 solve

In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stats

#### Wikipedia Data

In [34]:
city = pd.read_html('assets/wikipedia_data.html')[1]
city = city.rename({'Metropolitan area':'Metro','Population (2016 est.)[8]': 'Population'},axis=1)
city = city[:-1]
citynfl = city[['Metro', 'Population','NFL']]
citynfl = citynfl.replace('\[.*','',regex=True).replace(['— ','—',''],[np.nan,np.nan,np.nan])
citynfl.dropna(inplace=True)
citynfl.set_index(['Metro', 'Population'],inplace=True)
citynfl = citynfl.apply(lambda x: x.str.split(' ').explode()).reset_index()
citynfl

                     Metro Population         NFL
0            New York City   20153634      Giants
1            New York City   20153634        Jets
2              Los Angeles   13310447        Rams
3              Los Angeles   13310447    Chargers
4   San Francisco Bay Area    6657982       49ers
5   San Francisco Bay Area    6657982     Raiders
6                  Chicago    9512999       Bears
7        Dallas–Fort Worth    7233323     Cowboys
8         Washington, D.C.    6131977    Redskins
9             Philadelphia    6070500      Eagles
10                  Boston    4794447    Patriots
11  Minneapolis–Saint Paul    3551036     Vikings
12                  Denver    2853077     Broncos
13   Miami–Fort Lauderdale    6066387    Dolphins
14                 Phoenix    4661537   Cardinals
15                 Detroit    4297617       Lions
16                 Houston    6772470      Texans
17                 Atlanta    5789700     Falcons
18          Tampa Bay Area    3032171  Buccaneers
19              Pittsburgh    2342299    Steelers
20               Cleveland    2055612      Browns
21                 Seattle    3798902    Seahawks
22              Cincinnati    2165139     Bengals
23             Kansas City    2104509      Chiefs
24               Baltimore    2798886      Ravens
25               Charlotte    2474314    Panthers
26            Indianapolis    2004230       Colts
27               Nashville    1865298      Titans
28             New Orleans    1268883      Saints
29                 Buffalo    1132804       Bills
30            Jacksonville    1478212     Jaguars
31               Green Bay     318236     Packers

#### NFL Data

In [33]:
nfldf = pd.read_csv('assets/nfl.csv')
nfldf = nfldf[nfldf['year']==2018]
nfldf = nfldf[['team','W-L%']]
nfldf.columns=['teams','WL']
nfldf = nfldf[nfldf['teams'] != nfldf['WL']]
nfldf = nfldf.replace('\*.*','',regex=True).replace('\+.*','',regex=True)
nfldf['NFL'] = nfldf['teams'].apply(lambda x: x.split(' ')[-1])
nfldf

                   teams    WL         NFL
1   New England Patriots  .688    Patriots
2         Miami Dolphins  .438    Dolphins
3          Buffalo Bills  .375       Bills
4          New York Jets  .250        Jets
6       Baltimore Ravens  .625      Ravens
7    Pittsburgh Steelers  .594    Steelers
8       Cleveland Browns  .469      Browns
9     Cincinnati Bengals  .375     Bengals
11        Houston Texans  .688      Texans
12    Indianapolis Colts  .625       Colts
13      Tennessee Titans  .563      Titans
14  Jacksonville Jaguars  .313     Jaguars
16    Kansas City Chiefs  .750      Chiefs
17  Los Angeles Chargers  .750    Chargers
18        Denver Broncos  .375     Broncos
19       Oakland Raiders  .250     Raiders
21        Dallas Cowboys  .625     Cowboys
22   Philadelphia Eagles  .563      Eagles
23   Washington Redskins  .438    Redskins
24       New York Giants  .313      Giants
26         Chicago Bears  .750       Bears
27     Minnesota Vikings  .531     Vikings
28     Green Bay Packers  .406     Packers
29         Detroit Lions  .375       Lions
31    New Orleans Saints  .813      Saints
32     Carolina Panthers  .438    Panthers
33       Atlanta Falcons  .438     Falcons
34  Tampa Bay Buccaneers  .313  Buccaneers
36      Los Angeles Rams  .813        Rams
37      Seattle Seahawks  .625    Seahawks
38   San Francisco 49ers  .250       49ers
39     Arizona Cardinals  .188   Cardinals

#### Merge

In [42]:
df = pd.merge(citynfl,nfldf,how='inner')
df = df.astype({'Population': int,'WL': float})
df = df.groupby('Metro').agg({'Population': np.nanmean,'WL':np.nanmean})
df

                        Population      WL
Metro
Atlanta                  5789700.0  0.4380
Baltimore                2798886.0  0.6250
Boston                   4794447.0  0.6880
Buffalo                  1132804.0  0.3750
Charlotte                2474314.0  0.4380
Chicago                  9512999.0  0.7500
Cincinnati               2165139.0  0.3750
Cleveland                2055612.0  0.4690
Dallas–Fort Worth        7233323.0  0.6250
Denver                   2853077.0  0.3750
Detroit                  4297617.0  0.3750
Green Bay                 318236.0  0.4060
Houston                  6772470.0  0.6880
Indianapolis             2004230.0  0.6250
Jacksonville             1478212.0  0.3130
Kansas City              2104509.0  0.7500
Los Angeles             13310447.0  0.7815
Miami–Fort Lauderdale    6066387.0  0.4380
Minneapolis–Saint Paul   3551036.0  0.5310
Nashville                1865298.0  0.5630
New Orleans              1268883.0  0.8130
New York City           20153634.0  0.2815
Philadelphia             6070500.0  0.5630
Phoenix                  4661537.0  0.1880
Pittsburgh               2342299.0  0.5940
San Francisco Bay Area   6657982.0  0.2500
Seattle                  3798902.0  0.6250
Tampa Bay Area           3032171.0  0.3130
Washington, D.C.         6131977.0  0.4380

In [44]:
stats.pearsonr(df['Population'],df['WL'])[0]

0.004282141436393022

## Question 5

In [57]:
import pandas as pd
import numpy as np
import scipy.stats as stats

### NFL

In [58]:
# Wikipedia Data:
city = pd.read_html('assets/wikipedia_data.html')[1]
city = city.rename({'Metropolitan area':'Metro','Population (2016 est.)[8]': 'Population'},axis=1)
city = city[:-1]

# NFL
citynfl = city[['Metro', 'Population','NFL']]
citynfl = citynfl.replace('\[.*','',regex=True).replace(['— ','—',''],[np.nan,np.nan,np.nan])
citynfl.dropna(inplace=True)
citynfl.set_index(['Metro', 'Population'],inplace=True)
citynfl = citynfl.apply(lambda x: x.str.split(' ').explode()).reset_index()
citynfl

nfldf = pd.read_csv('assets/nfl.csv')
nfldf = nfldf[nfldf['year']==2018]
nfldf = nfldf[['team','W-L%']]
nfldf.columns=['teams','WL']
nfldf = nfldf[nfldf['teams'] != nfldf['WL']]
nfldf = nfldf.replace('\*.*','',regex=True).replace('\+.*','',regex=True)
nfldf['NFL'] = nfldf['teams'].apply(lambda x: x.split(' ')[-1])
nfldf

# Merging
nfldf = pd.merge(citynfl,nfldf,how='outer')
nfldf = nfldf.astype({'Population': int,'WL': float})
nfldf = nfldf.groupby('Metro').agg({'WL':np.nanmean})
nfldf.columns = ['NFL']
nfldf = nfldf.reset_index()
nfldf

                     Metro     NFL
0                  Atlanta  0.4380
1                Baltimore  0.6250
2                   Boston  0.6880
3                  Buffalo  0.3750
4                Charlotte  0.4380
5                  Chicago  0.7500
6               Cincinnati  0.3750
7                Cleveland  0.4690
8        Dallas–Fort Worth  0.6250
9                   Denver  0.3750
10                 Detroit  0.3750
11               Green Bay  0.4060
12                 Houston  0.6880
13            Indianapolis  0.6250
14            Jacksonville  0.3130
15             Kansas City  0.7500
16             Los Angeles  0.7815
17   Miami–Fort Lauderdale  0.4380
18  Minneapolis–Saint Paul  0.5310
19               Nashville  0.5630
20             New Orleans  0.8130
21           New York City  0.2815
22            Philadelphia  0.5630
23                 Phoenix  0.1880
24              Pittsburgh  0.5940
25  San Francisco Bay Area  0.2500
26                 Seattle  0.6250
27          Tampa Bay Area  0.3130
28        Washington, D.C.  0.4380

### NBA

In [59]:
# Wikipedia Data
city = pd.read_html('assets/wikipedia_data.html')[1]
city.rename(columns={'Population (2016 est.)[8]':'Population',
                    'Metropolitan area':'Metro'},inplace=True)
city = city.iloc[0:-1,[0,3,5,6,7,8]]
city = city.replace(to_replace='\[.*?\]',value='',regex=True)
citynba = city[['Metro','Population','NBA']]
citynba = citynba.replace('',np.nan).replace('—',np.nan)
citynba.dropna(inplace=True)
citynba.set_index(['Metro','Population'],inplace=True)
citynba = citynba.apply(lambda x: x.str.split(' ').explode())
citynba.reset_index(inplace=True)
#citynba['Population'] = citynba['Population'].apply(int)
citynba

# NBA
nbadf = pd.read_csv('assets/nba.csv')[['team','W','L','year']]
nbadf = nbadf[nbadf['year']==2018]
nbadf = nbadf.replace(to_replace='\*.*',value='',regex=True)
nbadf = nbadf.replace(to_replace='\(.*',value='',regex=True)
nbadf = nbadf.drop(['year'],axis=1)
nbadf['NBA'] = nbadf['team'].apply(lambda x: x.split(' ')[-1])
nbadf = nbadf.astype({'W': int,'L': int})
nbadf['W/L'] = nbadf['W']/(nbadf['W']+nbadf['L'])
nbadf.drop(['W','L'],axis=1,inplace=True)
nbadf['NBA'] = nbadf['NBA'].str.strip()
nbadf

# Merging
nbadf = pd.merge(citynba,nbadf, how='outer')
nbadf.dropna(inplace=True)
nbadf = nbadf.groupby('Metro').agg({'W/L':np.nanmean})
nbadf.columns = ['NBA']
nbadf = nbadf.reset_index()
nbadf

                     Metro       NBA
0                  Atlanta  0.292683
1                   Boston  0.670732
2                Charlotte  0.439024
3                  Chicago  0.329268
4                Cleveland  0.609756
5        Dallas–Fort Worth  0.292683
6                   Denver  0.560976
7                  Detroit  0.475610
8                  Houston  0.792683
9             Indianapolis  0.585366
10             Los Angeles  0.469512
11                 Memphis  0.268293
12   Miami–Fort Lauderdale  0.536585
13               Milwaukee  0.536585
14  Minneapolis–Saint Paul  0.573171
15             New Orleans  0.585366
16           New York City  0.347561
17           Oklahoma City  0.585366
18                 Orlando  0.304878
19            Philadelphia  0.634146
20                 Phoenix  0.256098
21                Portland  0.597561
22              Sacramento  0.329268
23          Salt Lake City  0.585366
24             San Antonio  0.573171
25  San Francisco Bay Area  0.707317
26                 Toronto  0.719512
27        Washington, D.C.  0.524390

### NHL

In [60]:
# Wikipedia
city = pd.read_html('assets/wikipedia_data.html')[1]
city.rename(columns={'Population (2016 est.)[8]':'Population',
                    'Metropolitan area':'Metro'},inplace=True)
city = city.iloc[0:-1,[0,3,5,6,7,8]]
city = city.replace(to_replace='\[.*?\]',value='',regex=True)
citynhl = city[['Metro','Population','NHL']]
citynhl.iloc[5,0],citynhl.iloc[0,0] = 'Washington','New York'
citynhl = citynhl.set_index(['Metro','Population'])
citynhl = citynhl.apply(lambda x: x.str.split(' ').explode())
citynhl = citynhl.reset_index()
citynhl['NHL'] = citynhl['NHL'].replace('—',np.nan).replace('',np.nan)
citynhl.dropna(inplace=True)
citynhl

# NHL
nhldf = pd.read_csv('assets/nhl.csv')
nhldf = nhldf[['team','W','L','year']]
nhldf = nhldf[nhldf['year']==2018]
nhldf = nhldf[nhldf['L'] != nhldf['W']]
nhldf['W'],nhldf["L"] = nhldf['W'].apply(int),nhldf["L"].apply(int)
nhldf['W/L'] = nhldf['W']/(nhldf['W']+nhldf['L'])
nhldf = nhldf[['team','W/L']]
nhldf.replace(to_replace='\*',value='',regex=True,inplace=True)
nhldf['NHL'] = nhldf['team'].str.split().str.get(-1)
nhldf

# Merging
nhldf = pd.merge(nhldf,citynhl, how='outer')
nhldf = nhldf.groupby('Metro').agg({'W/L': np.nanmean})
nhldf.columns = ['NHL']
nhldf = nhldf.reset_index()
nhldf

                     Metro       NHL
0                   Boston  0.714286
1                  Buffalo  0.357143
2                  Calgary  0.513889
3                  Chicago  0.458333
4                 Columbus  0.600000
5        Dallas–Fort Worth  0.567568
6                   Denver  0.589041
7                  Detroit  0.434783
8                 Edmonton  0.473684
9                Las Vegas  0.680000
10             Los Angeles  0.622895
11   Miami–Fort Lauderdale  0.594595
12  Minneapolis–Saint Paul  0.633803
13                Montreal  0.420290
14               Nashville  0.746479
15                New York  0.518201
16                  Ottawa  0.394366
17            Philadelphia  0.617647
18                 Phoenix  0.414286
19              Pittsburgh  0.618421
20                 Raleigh  0.507042
21  San Francisco Bay Area  0.625000
22               St. Louis  0.578947
23          Tampa Bay Area  0.701299
24                 Toronto  0.653333
25               Vancouver  0.436620
26              Washington  0.653333
27                Winnipeg  0.722222

### MLB

In [61]:
# Wikipedia
city = pd.read_html('assets/wikipedia_data.html')[1]
city = city.iloc[:-1]
city.rename({'Population (2016 est.)[8]':'Population','Metropolitan area': 'Metro'},axis=1,inplace=True)
citymlb = city[['Metro','Population','MLB']]
citymlb = citymlb.replace('\[.*',value='', regex=True).replace('—',np.nan).replace('',np.nan)
citymlb.dropna(inplace=True)
citymlb = citymlb.set_index(['Metro','Population'])
citymlb = citymlb.apply(lambda x: x.str.split(' ').explode())
citymlb.loc['Boston'] = 'Red-Sox'
citymlb = citymlb.reset_index().drop_duplicates()
citymlb['Population'] = citymlb['Population'].apply(int)
citymlb

# MLB
mlbdf = pd.read_csv('assets/mlb.csv')
mlbdf = mlbdf[mlbdf['year']==2018]
mlbdf = mlbdf[['team','W-L%']]
mlbdf.rename({'W-L%':'WL'},axis=1,inplace=True)
mlbdf.iloc[0,0] = 'Boston Red-Sox'
mlbdf['MLB'] = mlbdf['team'].apply(lambda x: x.split(' ')[-1])
mlbdf

# Merging
mlbdf = pd.merge(citymlb,mlbdf,how='outer')
mlbdf = mlbdf.groupby('Metro').agg({'WL': np.nanmean})
mlbdf.columns = ['MLB']
mlbdf = mlbdf.reset_index()
mlbdf

                     Metro    MLB
0                  Atlanta  0.556
1                Baltimore  0.290
2                   Boston  0.667
3                  Chicago  0.483
4               Cincinnati  0.414
5                Cleveland  0.562
6        Dallas–Fort Worth  0.414
7                   Denver  0.558
8                  Detroit  0.395
9                  Houston  0.636
10             Kansas City  0.358
11             Los Angeles  0.529
12   Miami–Fort Lauderdale  0.391
13               Milwaukee  0.589
14  Minneapolis–Saint Paul  0.481
15           New York City  0.546
16            Philadelphia  0.494
17                 Phoenix  0.506
18              Pittsburgh  0.509
19               San Diego  0.407
20  San Francisco Bay Area  0.525
21                 Seattle  0.549
22               St. Louis  0.543
23          Tampa Bay Area  0.556
24                 Toronto  0.451
25        Washington, D.C.  0.506

## Merging

In [62]:
df = pd.merge(nfldf,nbadf, how='inner')
df = pd.merge(df,nhldf, how='inner')
df = pd.merge(df,mlbdf, how='inner')
df

                     Metro     NFL       NBA       NHL    MLB
0                   Boston  0.6880  0.670732  0.714286  0.667
1                  Chicago  0.7500  0.329268  0.458333  0.483
2        Dallas–Fort Worth  0.6250  0.292683  0.567568  0.414
3                   Denver  0.3750  0.560976  0.589041  0.558
4                  Detroit  0.3750  0.475610  0.434783  0.395
5              Los Angeles  0.7815  0.469512  0.622895  0.529
6    Miami–Fort Lauderdale  0.4380  0.536585  0.594595  0.391
7   Minneapolis–Saint Paul  0.5310  0.573171  0.633803  0.481
8             Philadelphia  0.5630  0.634146  0.617647  0.494
9                  Phoenix  0.1880  0.256098  0.414286  0.506
10  San Francisco Bay Area  0.2500  0.707317  0.625000  0.525

### Result DataFrame

In [63]:
sports = ['NFL', 'NBA', 'NHL', 'MLB']
p_values = pd.DataFrame({k:np.nan for k in sports}, index=sports)
p_values

     NFL  NBA  NHL  MLB
NFL  NaN  NaN  NaN  NaN
NBA  NaN  NaN  NaN  NaN
NHL  NaN  NaN  NaN  NaN
MLB  NaN  NaN  NaN  NaN

In [64]:
#p_values.loc['NFL','NBA'] = stats.ttest_rel(df['NFL'],df['NBA'], nan_policy='omit')[1]
for i in sports:
    for j in sports:
        p_values.loc[i,j] = stats.ttest_rel(df[i],df[j], nan_policy='omit')[1]

p_values

          NFL       NBA       NHL       MLB
NFL       NaN  0.946697  0.279295  0.858111
NBA  0.946697       NaN  0.048569  0.893814
NHL  0.279295  0.048569       NaN  0.015542
MLB  0.858111  0.893814  0.015542       NaN